<!-- ! Виконує Victor Hromadskyi -->
<header>
  <div class="header-container">
    <a class="logo link" href="index.html">
      <span class="logo-decor">simply</span> chocolate
      <svg width="24" height="24">
        <use href="./img/sprite.svg#icon-chocolate"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li>
          <a class="header-nav-item link nav-item-pseudo" href="#hero">Home</a>
        </li>
        <li>
          <a class="header-nav-item link nav-item-pseudo" href="#how-its-made"
            >How it's made?</a
          >
        </li>
        <li>
          <a class="header-nav-item link nav-item-pseudo" href="#our-products"
            >Our products</a
          >
        </li>
        <li>
          <a class="header-nav-item link nav-item-pseudo" href="#top-sellers"
            >Top sellers</a
          >
        </li>
        <li>
          <a
            class="header-nav-item link nav-item-pseudo"
            href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <ul class="social-networks list">
      <li class="social-networks-icon">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-networks-icon">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="24" height="24">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="mobile-menu-open-btn js-open-modal"
      data-modal="4"
    >
      <svg width="28" height="28">
        <use
          class="mobile-menu-open-btn-icon"
          href="./img/sprite.svg#icon-burger"
        ></use>
      </svg>
    </button>
  </div>
  <div class="modal mobile-menu" data-modal="4">
    <div class="mobile-menu-container">
      <button
        type="button"
        class="modal__cross mobile-menu-close-btn js-modal-close"
      >
        <svg class="mobile-menu-close-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <ul class="header-nav-list-mobile list">
        <li class="header-nav-item-mobile">
          <a class="header-nav-item link" href="#hero">Home</a>
        </li>
        <li class="header-nav-item-mobile">
          <a class="header-nav-item link" href="#how-its-made"
            >How it's made?</a
          >
        </li>
        <li class="header-nav-item-mobile">
          <a class="header-nav-item link" href="#our-products">Our products</a>
        </li>
        <li class="header-nav-item-mobile">
          <a class="header-nav-item link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="header-nav-item-mobile">
          <a class="header-nav-item link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <ul class="social-networks-mobile list">
        <li class="social-networks-icon-mobile">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-networks-icon-mobile">
          <a
            href="https://www.twitter.com"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
