<!--! Виконує Oleksii Kryvorotko -->
<section id="hero" class="hero">
  <div class="hero-container container">
    <h1 class="visually-hidden">hero</h1>
    <div class="hero-title">
      <h2 class="hero-text text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>

      <div class="scroll-container">
        <ul class="hero-button list">
          <li class="hero-item">
            <button class="buy-btn js-open-modal" data-modal="1" type="button">
              Buy now
            </button>
          </li>
          <li class="hero-item">
            <a class="hero-link link" href="#how-its-made"> How it’s made</a>
          </li>
        </ul>
        <a class="hero-scroll-link link" href="#footer">
          scroll down
          <span class="hero-scroll-btn">
            <svg class="hero-svg">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
