<section class="section">
  <div class="container">
    <div class="top-h-produtcs">
      <h2 class="our-products-top-h">
        OUR <span class="products">PRODUCTS</span>
      </h2>
    </div>
    <div class="">
      <ul class="choco-items-box link">
        <li class="choko-list list">
          <img
            srcset="./img/images-our-products/choko1@2x.jpg 2x"
            src="./img/images-our-products/choco1.jpg"
            alt="orange "
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">ORANGE</h3>
          <p class="our-products-p">Dark chocolate</p>
          <button type="button" class="our-products-batton">45 UAH</button>
        </li>
        <li class="choko-list display-1 list">
          <img
            srcset="./img/images-our-products/choco2@2x.jpg 2x"
            src="./img/images-our-products/choco2.jpg"
            alt="APPLE&CRANBERRY"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">APPLE&CRANBERRY</h3>
          <p class="our-products-p">Milk chocolate</p>
          <button type="button" class="our-products-batton">50 UAH</button>
        </li>
        <li class="choko-list display-1 list">
          <img
            srcset="./img/images-our-products/choco3@2x.jpg 2x"
            src="./img/images-our-products/choco3.jpg"
            alt="lime&sea salt"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">LIME&SEA SALT</h3>
          <p class="our-products-p">Dark chocolate</p>
          <button type="button" class="our-products-batton">66 UAH</button>
        </li>
        <li class="choko-list display-1 display-2">
          <img
            srcset="./img/images-our-products/choco4@2x.jpg 2x"
            src="./img/images-our-products/choco4.jpg"
            alt="pineapple"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">PINEAPPLE</h3>
          <p class="our-products-p">Dark chocolate</p>
          <button type="button" class="our-products-batton">54 UAH</button>
        </li>
        <li class="choko-list display-1 display-2 list">
          <img
            srcset="./img/images-our-products/choco5@2x.jpg 2x"
            src="./img/images-our-products/choco5.jpg"
            alt="Classic"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">CLASSIC</h3>
          <p class="our-products-p">Milk chocolate</p>
          <button type="button" class="our-products-batton">45 UAH</button>
        </li>
        <li class="choko-list display-1 display-2 list">
          <img
            srcset="./img/images-our-products/choco6@2x.jpg 2x"
            src="./img/images-our-products/choco6.jpg"
            alt="honey"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">HONEY</h3>
          <p class="our-products-p">Milk chocolate</p>
          <button type="button" class="our-products-batton">50 UAH</button>
        </li>
        <li class="choko-list display-1 display-2 list">
          <img
            srcset="./img/images-our-products/choco7@2x.jpg 2x"
            src="./img/images-our-products/choco7.jpg"
            alt="Roasted fruits"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">ROASTED FRUITS</h3>
          <p class="our-products-p">Dark chocolate</p>
          <button type="button" class="our-products-batton">66 UAH</button>
        </li>
        <li class="choko-list display-1 display-2 list">
          <img
            srcset="./img/images-our-products/choco8@2x.jpg 2x"
            src="./img/images-our-products/choco8.jpg"
            alt="Classic"
            class="our-products-img"
            width="230"
            height="201"
          />
          <h3 class="our-products-bottom-h">CLASSIC</h3>
          <p class="our-products-p">White chocolate</p>
          <button type="button" class="our-products-batton">54 UAH</button>
        </li>
      </ul>
    </div>
  </div>
</section>
