<section id="reviews" class="reviews-section section">
    <div class="reviews-container container">
        <h2 class="reviews-title"><span class="reviews-title-part-color">chocolate</span> is loved</h2>
        <div class="swiper review-swiper">
            <ul class="reviews-list list swiper-wrapper">
                <li class="reviews-item swiper-slide">
                    <div class="reviews-item-review">
                        <div class="reviews-item-block">
                            <h3 class="reviews-item-name">Victoria Dobrzhanska</h3>
                            <p class="reviews-item-comment">
                                I love this chocolate bar.
                                Perfect combination of light crispy wafer,
                                covered in a thin layer chocolate.
                            </p>
                        </div>
                        <picture class="reviews-photo">
                            <source srcset="./img/reviews/victoria_dobrzhanska.webp 1x, 
                                ./img/reviews/victoria_dobrzhanska@2x.webp 2x" type="image/webp">
                            <source srcset="./img/reviews/victoria_dobrzhanska.jpg 1x, 
                                ./img/reviews/victoria_dobrzhanska@2x.jpg 2x">
                            <img class="img-circle" src="./img/reviews/victoria_dobrzhanska.jpg" alt="">
                        </picture>
                    </div>
                </li>
                <li class="reviews-item swiper-slide">
                    <div class="reviews-item-review">
                        <div class="reviews-item-block">
                            <h3 class="reviews-item-name">Nazar Babenko</h3>
                            <p class="reviews-item-comment">
                                This chocolate confection is a delight!
                                A delight! The wafer is light and crisp,
                                the hazelnut cream is smooth, and the
                                chocolate is good.
                            </p>
                        </div>
                        <picture class="reviews-photo">
                            <source srcset="./img/reviews/nazar-babenko.webp 1x, 
                                ./img/reviews/nazar-babenko@2x.webp 2x" type="image/webp">
                            <source srcset="./img/reviews/nazar-babenko.jpg 1x, 
                                ./img/reviews/nazar-babenko@2x.jpg 2x">
                            <img class="img-circle" src="./img/reviews/nazar-babenko.jpg" alt="">
                        </picture>
                    </div>
                </li>
                <li class="reviews-item swiper-slide">
                    <div class="reviews-item-review">
                        <div class="reviews-item-block">
                            <h3 class="reviews-item-name">Olena Kampusch</h3>
                            <p class="reviews-item-comment">
                                Chocolate is a family favourite treat.
                                Love the delicious smooth chocolate and the creaminess inside.
                                The wafer is soft but crunchy.
                            </p>
                        </div>
                        <picture class="reviews-photo">
                            <source srcset="./img/reviews/olena_kampusch.webp 1x, 
                                    ./img/reviews/olena_kampusch@2x.webp 2x" type="image/webp">
                            <source srcset="./img/reviews/olena_kampusch.jpg 1x, 
                                    ./img/reviews/olena_kampusch@2x.jpg 2x">
                            <img class="img-circle" src="./img/reviews/olena_kampusch.jpg" alt="">
                        </picture>
                    </div>
                </li>
            </ul>
        </div>
        <div class="swiper-pagination review-swiper-block "></div>

        <!-- <div class="reviews-swiper-icon">
            <svg class="reviews-icon-ellips" width="28" height="13">
                <use href="./img/sprite.svg#icon-ellipse"></use>
            </svg>
            <svg class="reviews-icon-circle" width="13" height="13">
                <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <svg class="reviews-icon-circle" width="13" height="13">
                <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
            <svg class="reviews-icon-circle" width="13" height="13">
                <use href="./img/sprite.svg#icon-circle"></use>
            </svg>
        </div> -->
    </div>
    <button type="button" class="reviews-container-btn reviews-container-btn-text js-open-modal"  data-modal="3">Leave a review</button>
</section>