<section id="top-sellers" class="section sellers">
  <div class="container">
    <h2 class="sellers-subtitle">
      <span class="sellers-subtitle-text">tOp </span> Sellers
    </h2>
    <div class="sellers-container">
      <ul class="sellers-list list">
        <li class="sellers-item">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-desktop.webp    1x,
                ./img/top_sellers/desktop/chocolad-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-desktop.jpg    1x,
                ./img/top_sellers/desktop/chocolad-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)" />

            <!-- TABLET_IMG -->
            <source
              srcset="
                ./img/top_sellers/tablet/chocolad-tablet.webp    1x,
                ./img/top_sellers/tablet/chocolad-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/tablet/chocolad-tablet.jpg    1x,
                ./img/top_sellers/tablet/chocolad-tablet@2x.jpg 2x
              "
              media="(min-width:768px)" />

            <!-- MOBILE_IMG -->
            <source
              srcset="
                ./img/top_sellers/mobile/chocolad-mobile.webp    1x,
                ./img/top_sellers/mobile/chocolad-mobile@2x.webp 2x
              "
              media="(min-width:320px)"
              type="image/webp" />
            <source
              srcset="
                ./img/top_sellers/mobile/chocolad-mobile.jpg    1x,
                ./img/top_sellers/mobile/chocolad-mobile@2x.jpg 2x
              "
              media="(min-width:320px)" />

            <img
              class="sellers-img"
              src="./img/top_sellers/mobile/chocolad-mobile.jpg"
              alt="Chocolate coffee nuts"
              loading="lazy"
          /></picture>
        </li>
        <li class="sellers-item">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-two-desktop.webp    1x,
                ./img/top_sellers/desktop/chocolad-two-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-two-desktop.jpg    1x,
                ./img/top_sellers/desktop/chocolad-two-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />

            <!-- TABLET_IMG -->
            <source
              srcset="
                ./img/top_sellers/tablet/chocolad-two-tablet.webp    1x,
                ./img/top_sellers/tablet/chocolad-two-tablet@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/tablet/chocolad-two-tablet.jpg    1x,
                ./img/top_sellers/tablet/chocolad-two-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />

            <!-- MOBILE_IMG -->
            <source
              srcset="
                ./img/top_sellers/mobile/chocolad-two-mobile.webp    1x,
                ./img/top_sellers/mobile/chocolad-two-mobile@2x.webp 2x
              "
              media="(min-width:320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/mobile/chocolad-two-mobile.jpg    1x,
                ./img/top_sellers/mobile/chocolad-two-mobile@2x.jpg 2x
              "
              media="(min-width:320px)"
            />

            <img
              class="sellers-img"
              src="./img/top_sellers/mobile/chocolad-two-mobile.jpg"
              alt="Milk chocolate with raisins"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="sellers-item sellers-last-img">
          <picture>
            <!-- DESKTOP_IMG -->
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-thrid-desktop.webp    1x,
                ./img/top_sellers/desktop/chocolad-thrid-desktop@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/top_sellers/desktop/chocolad-thrid-desktop.jpg    1x,
                ./img/top_sellers/desktop/chocolad-thrid-desktop@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />

            <img
              class="sellers-img"
              src="./img/top_sellers/chocolad-thrid-desktop.jpg"
              alt="A tower of chocolate and candies"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <div class="sellers-content">
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="sellers-btn js-open-modal" data-modal="1">
          Buy now
        </button>
      </div>
    </div>
    <div class="sellers-mobile">
      <div class="sellers-mobile-first-card">
        <ul class="sellers-list-mobile list">
          <li class="sellers-item">
            <picture>
              <!-- MOBILE_IMG -->
              <source
                srcset="
                  ./img/top_sellers/mobile/chocolad-mobile.webp    1x,
                  ./img/top_sellers/mobile/chocolad-mobile@2x.webp 2x
                "
                media="(min-width:320px)"
                type="image/webp" />
              <source
                srcset="
                  ./img/top_sellers/mobile/chocolad-mobile.jpg    1x,
                  ./img/top_sellers/mobile/chocolad-mobile@2x.jpg 2x
                "
                media="(min-width:320px)" />

              <img
                class="sellers-img"
                src="./img/top_sellers/mobile/chocolad-mobile.jpg"
                alt="Chocolate coffee nuts"
                loading="lazy"
            /></picture>
          </li>
          <li class="sellers-mobile-tex">
            <p class="sellers-text">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </li>
        </ul>
      </div>
      <div class="sellers-mobile-second-card">
        <ul class="sellers-list-mobile list">
          <li class="sellers-item">
            <picture>
              <!-- MOBILE_IMG -->
              <source
                srcset="
                  ./img/top_sellers/mobile/chocolad-two-mobile.webp    1x,
                  ./img/top_sellers/mobile/chocolad-two-mobile@2x.webp 2x
                "
                media="(min-width:320px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/top_sellers/mobile/chocolad-two-mobile.jpg    1x,
                  ./img/top_sellers/mobile/chocolad-two-mobile@2x.jpg 2x
                "
                media="(min-width:320px)"
              />

              <img
                class="sellers-img"
                src="./img/top_sellers/mobile/chocolad-two-mobile.jpg"
                alt="Milk chocolate with raisins"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="sellers-mobile-btn">
            <button
              type="button"
              class="sellers-btn js-open-modal"
              data-modal="1"
            >
              Buy now
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<load src="partials/modal_buy-now.html" />
