<!--! Виконує Кутурланова Марина -->
<section id="unique_components" class="unique-components">
  <div class="container">
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE <br />EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="unique-components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list list">
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-first-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="
                    ./img/unique_components/desctop/chocolate_bar_desctop.webp    1x,
                    ./img/unique_components/desctop/chocolate_bar_desctop@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/desctop/chocolate_bar_desctop.png    1x,
                    ./img/unique_components/desctop/chocolate_bar_desctop@2x.png 2x
                  "
                  media="(min-width:1200px)"
                />

                <!-- TABLET -->
                <source
                  srcset="
                    ./img/unique_components/tablet/chocolate_bar_tablet.webp    1x,
                    ./img/unique_components/tablet/chocolate_bar_tablet@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/tablet/chocolate_bar_tablet.png    1x,
                    ./img/unique_components/tablet/chocolate_bar_tablet@2x.png 2x
                  "
                  media="(min-width:768px)"
                />

                <!-- MOBILE -->
                <source
                  srcset="
                    ./img/unique_components/mobile/chocolate_bar_mobile.webp    1x,
                    ./img/unique_components/mobile/chocolate_bar_mobile@2x.webp 2x
                  "
                  media="(min-width:320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/mobile/chocolate_bar_mobile.png    1x,
                    ./img/unique_components/mobile/chocolate_bar_mobile@2x.png 2x
                  "
                  media="(min-width:320px)"
                />

                <img
                  class="unique-component-flip-card-img"
                  src="./img/unique_components/mobile/chocolate_bar_mobile.png"
                  alt="Chocolate Bar"
                  style="width: 224px; height: 171px"
                />
              </picture>
              <p class="unique-component-flip-card-name">mILK CHOCOLATE</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">
                Milk chocolate
              </h2>
              <div class="unique-component-buttons">
                <button
                  type="button"
                  class="unique-component-flip-card-back-name-btn"
                >
                  chocolate
                </button>
                <button
                  type="button"
                  class="unique-component-flip-card-back-benefits-btn"
                >
                  the benefits
                </button>
              </div>
              <p class="unique-component-flip-card-back-text">
                Milk chocolate is a solid chocolate confectionery containing
                cocoa, sugar and milk. It is the most consumed type of
                chocolate. Chocolate was originally sold and consumed as a
                beverage in pre-Columbian times. Although four-fifths of all
                milk chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-second-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="
                    ./img/unique_components/desctop/milk_desctop.webp    1x,
                    ./img/unique_components/desctop/milk_desctop@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/desctop/milk_desctop.png    1x,
                    ./img/unique_components/desctop/milk_desctop@2x.png 2x
                  "
                  media="(min-width:1200px)"
                />

                <!-- TABLET -->
                <source
                  srcset="
                    ./img/unique_components/tablet/milk_tablet.webp    1x,
                    ./img/unique_components/tablet/milk_tablet@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/tablet/milk_tablet.png    1x,
                    ./img/unique_components/tablet/milk_tablet@2x.png 2x
                  "
                  media="(min-width:768px)"
                />

                <!-- MOBILE -->
                <source
                  srcset="
                    ./img/unique_components/mobile/milk_mobile.webp    1x,
                    ./img/unique_components/mobile/milk_mobile@2x.webp 2x
                  "
                  media="(min-width:320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/mobile/milk_mobile.png    1x,
                    ./img/unique_components/mobile/milk_mobile@2x.png 2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="unique-component-flip-card-img"
                  src="./img/unique_components/mobile/milk_mobile.png"
                  alt="Milk"
                  style="width: 224px; height: 171px"
                />
              </picture>

              <p class="unique-component-flip-card-name">mILK</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">Milk</h2>
              <div class="unique-component-buttons">
                <button
                  type="button"
                  class="unique-component-flip-card-back-name-btn"
                >
                  chocolate
                </button>
                <button
                  type="button"
                  class="unique-component-flip-card-back-benefits-btn"
                >
                  the benefits
                </button>
              </div>

              <p class="unique-component-flip-card-back-text">
                Milk is a white liquid food produced by the mammary glands of
                mammals. It is the primary source of nutrition for young mammals
                (including breastfed human infants) before they are able to
                digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune
                system.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-third-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="
                    ./img/unique_components/desctop/nuts_desctop.webp    1x,
                    ./img/unique_components/desctop/nuts_desctop@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcset="
                    ./img/unique_components/desctop/nuts_desctop.png    1x,
                    ./img/unique_components/desctop/nuts_desctop@2x.png 2x
                  "
                  media="(min-width:1200px)" />

                <!-- TABLET -->
                <source
                  srcset="
                    ./img/unique_components/tablet/nuts_tablet.webp    1x,
                    ./img/unique_components/tablet/nuts_tablet@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp" />
                <source
                  srcset="
                    ./img/unique_components/tablet/nuts_tablet.png    1x,
                    ./img/unique_components/tablet/nuts_tablet@2x.png 2x
                  "
                  media="(min-width:768px)" />

                <!-- MOBILE -->
                <source
                  srcset="
                    ./img/unique_components/mobile/nuts_mobile.webp    1x,
                    ./img/unique_components/mobile/nuts_mobile@2x.webp 2x
                  "
                  media="(min-width:320px)"
                  type="image/webp" />
                <source
                  srcset="
                    ./img/unique_components/mobile/nuts_mobile.png    1x,
                    ./img/unique_components/mobile/nuts_mobile@2x.png 2x
                  "
                  media="(min-width:320px)" />
                <img
                  class="unique-component-flip-card-img"
                  src="./img/unique_components/mobile/nuts_mobile.png"
                  alt="Nuts"
                  style="width: 224px; height: 171px"
              /></picture>

              <p class="unique-component-flip-card-name">nUTS</p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">Nuts</h2>
              <div class="unique-component-buttons">
                <button
                  type="button"
                  class="unique-component-flip-card-back-name-btn"
                >
                  chocolate
                </button>
                <button
                  type="button"
                  class="unique-component-flip-card-back-benefits-btn"
                >
                  the benefits
                </button>
              </div>

              <p class="unique-component-flip-card-back-text">
                Almonds, pistachios, and walnuts are some types of nuts that
                contain healthy nutrients. When eaten as part of a
                nutrient-dense diet, these 9 nuts may offer benefits such as
                reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on
                their own.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="unique-component-item">
        <div class="unique-component-flip-card unique-component-fourth-card">
          <div class="unique-component-flip-card-inner">
            <div class="unique-component-flip-card-front">
              <picture>
                <!-- DESKTOP -->
                <source
                  srcset="
                    ./img/unique_components/desctop/chocolate_drops_desctop.webp    1x,
                    ./img/unique_components/desctop/chocolate_drops_desctop@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/desctop/chocolate_drops_desctop.png    1x,
                    ./img/unique_components/desctop/chocolate_drops_desctop@2x.png 2x
                  "
                  media="(min-width:1200px)"
                />

                <!-- TABLET -->
                <source
                  srcset="
                    ./img/unique_components/tablet/chocolate_drops_tablet.webp    1x,
                    ./img/unique_components/tablet/chocolate_drops_tablet@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/tablet/chocolate_drops_tablet.png    1x,
                    ./img/unique_components/tablet/chocolate_drops_tablet@2x.png 2x
                  "
                  media="(min-width:768px)"
                />

                <!-- MOBILE -->
                <source
                  srcset="
                    ./img/unique_components/mobile/chocolate_drops_mobile.webp    1x,
                    ./img/unique_components/mobile/chocolate_drops_mobile@2x.webp 2x
                  "
                  media="(min-width:320px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/unique_components/mobile/chocolate_drops_mobile.png    1x,
                    ./img/unique_components/mobile/chocolate_drops_mobile@2x.png 2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="unique-component-flip-card-img"
                  src="./img/unique_components/mobile/chocolate_drops_mobile.png"
                  alt="Chocolate Drops"
                  style="width: 224px; height: 171px"
                />
              </picture>

              <p class="unique-component-flip-card-name">
                sEMI - SWEET CHOCOLATE
              </p>
            </div>
            <div class="unique-component-flip-card-back">
              <h2 class="unique-component-flip-card-back-name">
                semi - sweet chocolate
              </h2>
              <div class="unique-component-buttons">
                <button
                  type="button"
                  class="unique-component-flip-card-back-name-btn"
                >
                  chocolate
                </button>
                <button
                  type="button"
                  class="unique-component-flip-card-back-benefits-btn"
                >
                  the benefits
                </button>
              </div>

              <p class="unique-component-flip-card-back-text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
                of the best ways to gain an understanding of this type of
                chocolate is to compare it to a different type of chocolate.
                Semisweet is darker than milk chocolate. In a taste comparison,
                it has a slightly bitter taste whereas milk chocolate is sweeter
                and more mellow.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
