.buy-now-modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 311px;
  height: 100%;
  max-height: 584px;
  background: var(--body-bc);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(255, 255, 255, 0.4);
  padding: 32px 24px;
}
.buy-now-modal_cross {
  fill: var(--black-color);
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background: none;
  border: none;
}
.buy-now-modal_cross:hover,
.buy-now-modal_cross:focus {
  fill: var(--orange-color);
}

.buy-now-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: -0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.buy-now--subtitle-text {
  color: var(--orange-color);
}
.buy-now-this-products {
  margin-bottom: 32px;
}
.buy-now-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.buy-now-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 263px;
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 8px 16px;
}
.byu-now-tex-card {
  padding: 6px 16px;
  background: var(--body-bc);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.buy-now-modal-form-main-container {
  margin-bottom: 18px;
}
.buy-now-modal-label-name {
  display: block;
  margin-bottom: 8px;
}
.buy-now-modal-label-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  color: #000000;
}
.container-input-name::placeholder {
  display: flex;
  align-items: center;
  color: rgba(64, 64, 64, 0.3);
}
.container-input-name {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.buy-now-modal-input {
  padding: 14px 18px;
  width: 100%;
  max-height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  outline: transparent;
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
}

.buy-now-container-input-mobile {
  position: relative;
}
.input-svg-ua {
  padding-left: 106px;
}
.buy-now-form-icon-phon-c {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.buy-now-container-input-svg {
  position: relative;
}
.buy-now-form-icon-phone {
  width: 24px;
  height: 24px;
}
.buy-now-number {
  color: #000000;
  padding-right: 10px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}
.buy-now-form-icon {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.modal-label {
  display: block;
  margin-bottom: 8px;
}
.buy-now-modal-textarea {
  resize: none;
  width: 100%;
  min-height: 91px;
  padding: 14px 18px 60px;
  gap: 40px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: transparent;
  outline: transparent;
}
.buy-now-btn {
  padding: 12px 28px;
  min-width: 120px;
  font-weight: 600;
  line-height: 1.21; /* 17px/14px */
  background: var(--orange-color);
  border-radius: 100px;
  border: none;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  background: var(--lightorange-color);
  color: var(--orange-color);
}
.buy-now-btn:disabled {
  background-color: rgb(234, 234, 234);
  color: rgb(120, 120, 120);
}
.buy-now-overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
.buy-now-modal.active,
.buy-now-overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .buy-now-modal {
    min-width: 609px;
    max-height: 1058px;
    padding: 48px;
  }
  .buy-now-modal_cross {
    width: 28px;
    height: 28px;
  }
  .buy-now-modal_cross {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .buy-now-subtitle {
    font-size: 24px;
    line-height: 1.17; /* 28px/24 */
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
  .buy-now-this-products {
    margin-bottom: 40px;
  }
  .buy-now-list {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }
  .buy-now-item {
    padding: 24px 20px 18px 20px;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    min-height: 196px;
  }
  .byu-now-tex-card {
    padding: 8px 29px;
  }

  .buy-now-modal-form-main-container {
    margin-bottom: 18px;
  }
  .buy-now-modal-label-name {
    display: block;
    margin-bottom: 8px;
  }
  .buy-now-modal-label-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .container-input-name::placeholder {
    font-size: 18px;
    line-height: 1.22;
    color: rgba(64, 64, 64, 0.3);
  }
  .container-input-name {
    display: flex;
    flex-direction: row;
    column-gap: 21px;
  }
  .buy-now-modal-input {
    padding: 22px 24px;
    max-height: 66px;
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-modal-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
    color: rgba(64, 64, 64, 0.3);
  }
  .buy-now-form-icon-phone {
    width: 32px;
    height: 32px;
  }
  .input-svg-ua {
    padding-left: 177px;
  }
  .buy-now-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #000000;
    padding-right: 32px;
    border-right: 1.5px solid rgba(17, 17, 17, 0.05);
  }
  .buy-now-form-icon-phon-c {
    column-gap: 18px;
    left: 24px;
  }
  .buy-now-container-input-svg {
    position: relative;
  }
  .buy-now-form-icon {
    column-gap: 8px;
    right: 14px;
  }

  .modal-label {
    margin-bottom: 8px;
  }
  .buy-now-modal-textarea {
    min-height: 137px;
    padding: 22px 24px 93px;
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-modal-textarea::placeholder {
    font-size: 18px;
    line-height: 1.22;
    color: rgba(64, 64, 64, 0.3);
  }
  .buy-now-btn {
    padding: 14px 40px;
    min-width: 133px;
  }
  .buy-now-modal.active,
  .buy-now-overlay.active {
    overflow: hidden;
  }
  .buy-now-overlay {
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
}
