

/* modal_window */

.leave-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.leave-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 32px 24px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    right: 19px;
    width: 24px;
    height: 24px;
    padding: 0;
   
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-modal-title-span{

font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1.20;
letter-spacing: -0.03em;
text-transform: uppercase;
color:#FD9222;
}

.leave-modal-close-btn:hover,
.leave-modal-close-btn:focus {
    background-color:#FD9222;
    border: none;
    fill: #111111
}

.leave-modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ==================== MODAL-FORM ==================== */

.leave-modal-form-title {
    max-width: 237px;
    padding: 4px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-bottom: 32px;
}

.leave-modal-form {
    flex-direction: column;
    gap: 8px;
    padding: 1px 0px 0px;
}

.leave-modal-form-input{
    margin-bottom: 14px;
}

.leave-modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    display: block;
    margin-bottom: 4px;
}

.leave-modal-form-container {
    position: relative;
}

.leave-modal-form-input {
    width: 100%;
    height: 45px;
    padding: 14px 18px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-modal-form-input:hover,
.leave-modal-form-input:focus {
    border-color:#FCF1E0;;
    /* fill: var(--primary-btn); */
}

.leave-modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-contact-form-input-comment {
    margin-bottom: 16px;
}

.leave-modal-form-text-area {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    
    box-sizing: border-box;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-modal-form-text-area:hover,
.leave-modal-form-text-area:focus {
   border-color: #FCF1E0;
}

.leave-contakt-form-btn {
    border: none;
    display: block;
    cursor: pointer;
    padding: 12px 28px;
    background-color: #FD9222;
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.leave-contakt-form-btn:hover,
.leave-contakt-form-btn:focus {
    background: #FCF1E0;
}